<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos/apple']" routerLinkActive="active">Samsung</a></li>
        </ol>
    </nav>
</div>

<h1>Samsung Phones</h1>

<table align="center">
    <br>
    <br>
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Samsung/a10 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A10
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/a12 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A12
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Samsung/a20 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A20
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/a32 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A32
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/a51 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A51
        </th>
    
        
    </tr>
</table>      

<br>
<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Samsung/a71 (Personalizado).png" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A71
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/s10 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S10
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Samsung/s20 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S20
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/s21 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S21
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/s9 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S9
        </th>
        
        
    </tr>
</table>      

