<div class="sidebar-container">
    <div class="sidebar-logo">
      Projeto E-Commerce
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a routerLink="/">
          <i class="fa fa-home" aria-hidden="true"></i> Página Inicial
        </a>
      </li>
      <li>
        <a routerLink="/produtos" class="produtos">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Produtos
        </a>
            <ul class="itensProdutos">
               <li>
                <a routerLink="/produtos/lista">Listar Produtos</a>
            </li> 
            <li>
                <a routerLink="/produtos/iphone">Iphone</a>
            </li> 
            </ul>
      </li>
      <li class="header">Another Menu</li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Friends
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Information
        </a>
      </li>
    </ul>
  </div>
  
  <div class="content-container">
  
    <div class="container-fluid">
  
    </div>
  </div>