<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos/apple']" routerLinkActive="active">Nokia</a></li>
        </ol>
    </nav>
</div>

<h1>Nokia Phones</h1>

<table align="center">
    <br>
    <br>
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Nokia/nokia2.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 2.3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia2.4.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 2.4
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Nokia/nokia4.2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 4.2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia5.1plus.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Nokia 5.1 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia5.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 5.3
        </th>
    
        
    </tr>
</table>      

<br>
<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Nokia/nokia5.4.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 5.4
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia6.1jpg.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 6.1
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Nokia/nokia6.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 6.3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia8.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 8.3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokiac2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia C2
        </th>
        
        
    </tr>
</table>
