<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a></li>
        </ol>
    </nav>
</div>

<h1>Todos Produtos</h1>

<table align="center">
    <br>
    <br>
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Apple/iphone11promax (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone 11 Pro Max
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Apple/iphone11 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone 11
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Apple/iphone13spromax (Personalizado).jpeg" width="150" height="150"><br>Iphone 13s Pro Max
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Apple/iphone6 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone 6
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Apple/iphone7 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone 7
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Apple/iphone7plus (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone 7 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Apple/iphone8plus (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Iphone 8 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Apple/iphonese (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone SE
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Apple/iphonex (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone X
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Apple/iphonexr (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone XR
        </th>
        
        
    </tr>
</table>   

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Asus/asusrog.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asus ROG
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone2.jpeg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Asus Zenfone 2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Asus/zenfone3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Asus Zenfone 3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone4max.jpg" width="150" height="150"><br>Asus Zenfone 4 Max
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone5.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Asus Zenfone 5
        </th>   
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Asus/zenfone5selfie.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asus Zenfone 5 Selfie
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone5z.jpg" width="150" height="150"><br>Asus Zenfone 5Z
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Asus/zenfonel2.jpg" width="150" height="150"><br>&nbsp;&nbsp;Asus Zenfone L2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfonelive.jpg" width="150" height="150"><br>Asus Zenfone Live
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfonemaxshot.jpg" width="150" height="150"><br>Asus Zenfone Max Shot
        </th> 
    </tr>
</table>      

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Blackberry/blackberry8520.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;blackberry 8520
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Blackberry/blackberry9320.jpeg" width="150" height="150"><br>&nbsp;&nbsp;blackberry 9320
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Blackberry/blackberry9500.jpg" width="150" height="150"><br>blackberry 9500
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Blackberry//blackberry9790.jpg" width="150" height="150"><br>blackberry 9790
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Blackberry//blackberry9810.jpg" width="150" height="150"><br>&nbsp;&nbsp;blackberry 9810
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Blackberry/blackberry9981.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;blackberry 9981
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Blackberry/blackberrybold9780.jpg" width="150" height="150"><br>blackberry Bold 9780
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Blackberry/blackberryDTEK50.jpg" width="150" height="150"><br>blackberry DTEK 50
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Blackberry/blackberrykeyone.jpg" width="150" height="150"><br>blackberry Keyone
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Blackberry/blackberryq10.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;blackberry Q10
        </th>   
    </tr>
</table>      

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Huawei/huawei5t.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Huawei 5T
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Huawei/huaweimate30pro.jpg" width="150" height="150"><br>Huawei Mate 30 Pro
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Huawei/huaweimate40proplus.jpg" width="150" height="150"><br>Huawei Mate 40 Pro Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Huawei/huaweip20lite.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;Huawei P20 Lite
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Huawei/huaweip30lite.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Huawei P30 Lite
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Huawei/huaweip40lite.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Huawei P40 Lite
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Huawei/huaweiy5.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Huawei Y5
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Huawei/huaweiy6p.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Huawei Y6P
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Huawei/huaweiy8s.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Huawei Y8S
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Huawei/huaweiy9.jpeg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Huawei Y9
        </th>  
    </tr>
</table>

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/LG/lg41s.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG 41S
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/LG/lgk10.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG K10
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/LG/lgk12prime.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;LG K12 Prime
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/LG/lgk22.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG K22
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/LG/lgk4.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG K4
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/LG/lgk52.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG K52
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/LG/lgk62.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG K62
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/LG/lgk8plus.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG K8 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/LG/lgoptimusl5.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;LG Optimus L5
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/LG/lgvelvet.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LG Velvet
        </th>
        
        
    </tr>
</table>

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Motorola/motog5gplus.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moto G5 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motog9plus.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Moto G9 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Motorola/motoonefusioplus.jpg" width="150" height="150"><br>Moto One Fusion Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolaedge.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Motorola Edge
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolaedge20.jpg" width="150" height="150"><br>&nbsp;&nbsp;Motorola Edge 20
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Motorola/motorolaedge20lite.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Motorola Edge 20 Lite
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolaedge20pro.jpg" width="150" height="150"><br>Motorrola Edge 20 Pro
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Motorola/motorolaedgeplus.jpg" width="150" height="150"><br>Motorola Edge Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolamotog100.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moto G100
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolamotog60.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moto G60
        </th>
    </tr>
</table>      

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Nokia/nokia2.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 2.3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia2.4.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 2.4
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Nokia/nokia4.2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 4.2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia5.1plus.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Nokia 5.1 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia5.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 5.3
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Nokia/nokia5.4.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 5.4
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia6.1jpg.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 6.1
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Nokia/nokia6.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 6.3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokia8.3.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia 8.3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Nokia/nokiac2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia C2
        </th>
    </tr>
</table>

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Samsung/a10 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A10
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/a12 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A12
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Samsung/a20 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A20
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/a32 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A32
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/a51 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A51
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Samsung/a71 (Personalizado).png" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung A71
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/s10 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S10
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Samsung/s20 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S20
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/s21 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S21
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Samsung/s9 (Personalizado).jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung S9
        </th> 
    </tr>
</table>

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Sony/sonyexperiaxa.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia XA
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyexperiaz3.jpg" width="150" height="150"><br>&nbsp;&nbsp;Sony Xperia Z3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Sony/sonyexperiaz5.jpg" width="150" height="150"><br>&nbsp;&nbsp;Sony Xperia Z5
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperial2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia L2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperiam2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia M2
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Sony/sonyxperiam5.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia M5
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperiar1plus.jpg" width="150" height="150"><br>Sony Xperia R1 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Sony/sonyxperiaxa2plus.jpg" width="150" height="150"><br>Sony Xperia XA 2 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperiaz3+.jpeg" width="150" height="150"><br>Sony Xperia Z3 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxz2premium.jpg" width="150" height="150"><br>Sony Xperia Z2 Premium
        </th>
    </tr>
</table>

<br>
<br>

<table align="center">
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Xiaomi/xiaomiblackshark4pro.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Black Shark 4 Pro
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomik40proplus.jpg" width="150" height="150"><br>Xiaomi K40 Pro Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Xiaomi/xiaomimi10s.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Mi 10S
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomimi11ultra.jpg" width="150" height="150"><br>Xiaomi Mi 11 Ultra
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomimimix4.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Mi Mix 4
        </th>
    
        
    </tr>
</table>      

<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Xiaomi/xiaomimimixfold.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Mi Mix Fold
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaominote10s.jpg" width="150" height="150"><br>&nbsp;&nbsp;Xiaomi Note 10S
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Xiaomi/xiaomipocox3pro.jpg" width="150" height="150"><br>Xiaomi Poco X3 Pro
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomiredminote8.jpg" width="150" height="150"><br>Xiaomi Redmi Note 8
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomiredminote9.jpg" width="150" height="150"><br>Xiaomi Redmi Note 9
        </th>
    </tr>
</table>  
