<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos/apple']" routerLinkActive="active">Motorola</a></li>
        </ol>
    </nav>
</div>

<h1>Motorola Phones</h1>

<table align="center">
    <br>
    <br>
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Asus/asusrog.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asus ROG
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone2.jpeg" width="150" height="150"><br>Asus Zenfone 2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Asus/zenfone3.jpg" width="150" height="150"><br>Asus Zenfone 3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone4max.jpg" width="150" height="150"><br>Asus Zenfone 4 Max
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone5.jpg" width="150" height="150"><br>Asus Zenfone 5
        </th>
    
        
    </tr>
</table>      

<br>
<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Asus/zenfone5selfie.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asus Zenfone 5 Selfie
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfone5z.jpg" width="150" height="150"><br>Asus Zenfone 5Z
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Asus/zenfonel2.jpg" width="150" height="150"><br>Asus Zenfone L2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfonelive.jpg" width="150" height="150"><br>Asus Zenfone Live
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Asus/zenfonemaxshot.jpg" width="150" height="150"><br>Asus Zenfone Max Shot
        </th>
        
        
    </tr>
</table>
