<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos/apple']" routerLinkActive="active">Motorola</a></li>
        </ol>
    </nav>
</div>

<h1>Motorola Phones</h1>

<table align="center">
    <br>
    <br>
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Motorola/motog5gplus.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moto G5 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motog9plus.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Moto G9 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Motorola/motoonefusioplus.jpg" width="150" height="150"><br>Moto One Fusion Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolaedge.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Motorola Edge
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolaedge20.jpg" width="150" height="150"><br>&nbsp;&nbsp;Motorola Edge 20
        </th>
    
        
    </tr>
</table>      

<br>
<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Motorola/motorolaedge20lite.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Motorola Edge 20 Lite
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolaedge20pro.jpg" width="150" height="150"><br>Motorrola Edge 20 Pro
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Motorola/motorolaedgeplus.jpg" width="150" height="150"><br>Motorola Edge Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolamotog100.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moto G100
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Motorola/motorolamotog60.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moto G60
        </th>
        
        
    </tr>
</table>
