<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos/apple']" routerLinkActive="active">Xiaomi</a></li>
        </ol>
    </nav>
</div>

<h1>Xiaomi Phones</h1>

<table align="center">
    <br>
    <br>
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Xiaomi/xiaomiblackshark4pro.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Black Shark 4 Pro
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomik40proplus.jpg" width="150" height="150"><br>Xiaomi K40 Pro Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Xiaomi/xiaomimi10s.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Mi 10S
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomimi11ultra.jpg" width="150" height="150"><br>Xiaomi Mi 11 Ultra
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomimimix4.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Mi Mix 4
        </th>
    
        
    </tr>
</table>      

<br>
<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Xiaomi/xiaomimimixfold.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xiaomi Mi Mix Fold
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaominote10s.jpg" width="150" height="150"><br>&nbsp;&nbsp;Xiaomi Note 10S
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Xiaomi/xiaomipocox3pro.jpg" width="150" height="150"><br>Xiaomi Poco X3 Pro
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomiredminote8.jpg" width="150" height="150"><br>Xiaomi Redmi Note 8
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Xiaomi/xiaomiredminote9.jpg" width="150" height="150"><br>Xiaomi Redmi Note 9
        </th>
        
        
    </tr>
</table>
