<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/produtos/apple']" routerLinkActive="active">Sony</a></li>
        </ol>
    </nav>
</div>

<h1>Sony Phones</h1>

<table align="center">
    <br>
    <br>
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Sony/sonyexperiaxa.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia XA
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyexperiaz3.jpg" width="150" height="150"><br>&nbsp;&nbsp;Sony Xperia Z3
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Sony/sonyexperiaz5.jpg" width="150" height="150"><br>&nbsp;&nbsp;Sony Xperia Z5
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperial2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia L2
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperiam2.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia M2
        </th>
    
        
    </tr>
</table>      

<br>
<br>
<br>

<table align="center">
    
    <tr>
        <th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../../../assets/images/Sony/sonyxperiam5.jpg" width="150" height="150"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sony Xperia M5
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperiar1plus.jpg" width="150" height="150"><br>Sony Xperia R1 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            
            <img src="../../../../assets/images/Sony/sonyxperiaxa2plus.jpg" width="150" height="150"><br>Sony Xperia XA 2 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxperiaz3+.jpeg" width="150" height="150"><br>Sony Xperia Z3 Plus
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            <img src="../../../../assets/images/Sony/sonyxz2premium.jpg" width="150" height="150"><br>Sony Xperia Z2 Premium
        </th>
        
        
    </tr>
</table>
